<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stevenzhang.android.metronome"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>
    
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:allowBackup="true" android:theme="@style/Theme.MyTheme">
        <activity
            android:label="@string/app_name"
            android:name="com.stevenzhang.android.metronome.MetronomeActivity" 
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PreferencesActivity" android:label="@string/app_name">
//todo
        </activity>
        
        <service android:enabled="true" android:name="com.stevenzhang.android.metronome.MetronomeService" android:process=":metroserv" />
    </application>

</manifest>